$size: 60px

.stories
    margin-bottom: 30px
    overflow-y: hidden
    overflow-x: auto
    white-space: nowrap
    .storyCircle
        margin-left: 20px
        display: inline-flex
        width: $size
        height: $size
        border-radius: 50%
    .storyCircle.withoutHeader
        background-color: #CC2A49
.storyShow
    z-index: 1
    position: absolute
    left: 0
    top: 0

    display: flex
    align-items: center
    justify-content: center

    width: 100%
    height: 100%

    background-color: rgb(17, 17, 17)