.cardContainer
  overflow: visible
.swipeCard
  margin: 0 8px

  display: flex
  align-items: center
  justify-content: center
  
  height: 70vh

  max-height: 550px

  border-radius: 15px

  background-size: 100%
  box-shadow: 0 5px 10px rgba(0,0,0,0.1)
.swipeCardVideo
  width: 100%
  height: 100%
.recommendedBook
  display: inline-flex
  flex-direction: column
  align-items: center
  justify-content: space-around

  height: 100%
  padding-left: 40px
  padding-right: 40px

  font-size: 20px
  .avatar
    flex-shrink: 0
  .title
    font-weight: 900
  .description
    overflow-y: scroll
    max-height: 30%